body {
    background-color: rgb(182, 58, 58);
}

html{
    scroll-behavior: smooth;
    
}

.nav-link{
    color: black;     }

    .home-text{
        text-align: center;
        font-size:larger;
    }
    
    .home-title{
        text-align: center;   
    }
    
    #home{
        position:relative;
        background-color: rgb(24, 24, 24);
        color: white;
    }
    
    @media screen and (max-width:600px){
        .navbar1{
            float:none;
        }
    }